name: DockerHub Build & Push (reusable)

on:
  workflow_call:
    inputs:
      context:
        required: false
        type: string
        default: "."
      dockerfile:
        required: false
        type: string
        default: "Dockerfile"
      platforms:
        required: false
        type: string
        default: "linux/arm64"
      caller_event_name:
        required: false
        type: string
        default: ""
      caller_commit_message:
        required: false
        type: string
        default: ""

    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: ${{ inputs.caller_commit_message == 'publish' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Normalize names for Docker tags
        shell: bash
        run: |
          echo "REPO_LOWER=$(echo '${{ github.event.repository.name }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_ENV"
          echo "BRANCH_LOWER=$(echo '${{ github.ref_name }}' | tr '[:upper:]' '[:lower:]' | tr '/' '-')" >> "$GITHUB_ENV"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          platforms: ${{ inputs.platforms }}
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPO_LOWER }}:${{ env.BRANCH_LOWER }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.REPO_LOWER }}:${{ github.sha }}